**Naive Bayes Classification to classify iris dataset**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

C:\ProgramData\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\ProgramData\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
# loading Dataset

from sklearn.datasets import load_iris
dataset = load_iris()

C:\ProgramData\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [3]:
iris = pd.DataFrame(dataset.data,columns = dataset.feature_names)
iris["target"] = dataset.target

In [4]:
iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [5]:
# null value analysis
iris.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

In [6]:
# spliting of dataset into train and test data

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [7]:
X = iris.drop(["target"],axis = 1)
Y = iris["target"]

In [8]:
Xtrain,Xtest,Ytrain,Ytest = train_test_split(X,Y,test_size = 0.3, random_state = 42)

In [9]:
Xtrain.shape,Xtest.shape,Ytrain.shape,Ytest.shape

((105, 4), (45, 4), (105,), (45,))

In [10]:
scaler = MinMaxScaler()
Xtrain = scaler.fit_transform(Xtrain)
Xtest = scaler.transform(Xtest)

In [11]:
# modeling for prediction

from sklearn.naive_bayes import MultinomialNB
nbc = MultinomialNB()
nbc.fit(Xtrain,Ytrain)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [12]:
predicted = nbc.predict(Xtest)

In [14]:
print(f"the accuracy is {nbc.score(Xtest,Ytest)*100}")

the accuracy is 91.11111111111111